@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Inter font globally and ensure smooth rendering */

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    /* Ensure Inter font is applied */
    -webkit-font-smoothing: antialiased;
    -moz-osx-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}